{% extends "template.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Task not found</h1>
      <p class="govuk-body">The task you requested could not be found.</p>
      <p class="govuk-body">
        <a class="govuk-link" href="/tasks">Return to task list</a>
      </p>
    </div>
  </div>
{% endblock %}
